nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: relative;
    .links{
        width: 60%;
    }
    a{
        color: white;
    }
    ul{
        width: 90%;
        li{
            margin-left: 2.5rem;
        }
    }
}
.nav-btn{
    background: transparent;
    transition: all 0.2s ease;
    i{
        color: $main;
        font-size: 2em;
    }
}
.logo{
    width: 7em;
}

.burger{
    display: none;
}
.burger-active{
    transform: rotate(-90deg);
}
.overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease;
    a{
        color: white;
    }
}

header{
    height: 100vh;
    color: white;
    background: linear-gradient(#000000ab, #000000ab), url("../images/background.jpg");
    background-position: left;
    background-size: cover;
}
.header-text{
    width: min-content;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 5em 3em 0;
    h1{
        padding: 0.2em 0.5em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        border: 0.1em solid $main;
        width: max-content;
    }
    h2{
        margin: 1em 0;
        line-height: 1.5em;
    }
}

.special-btn{
    padding-right: 3em;
    position: relative;
    overflow: hidden;
    i{
        transition: all 0.2s ease;
        background: white;
        color: $main;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    &:hover{
        i{
            width: 100%;
        }
    }
}