@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
  position: relative;
}
nav .links {
  width: 60%;
}
nav a {
  color: white;
}
nav ul {
  width: 90%;
}
nav ul li {
  margin-left: 2.5rem;
}

.nav-btn {
  background: transparent;
}
.nav-btn i {
  color: #4247CF;
  font-size: 2em;
}

.logo {
  width: 7em;
}

.burger {
  display: none;
}
.burger:hover {
  color: #4247CF;
}

.burger-active {
  transform: rotate(-90deg);
}

.overlay {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s ease;
}
.overlay a {
  color: white;
}

header {
  height: 100vh;
  color: white;
  background: linear-gradient(#000000ab, #000000ab), url("../images/background.jpg");
  background-position: left;
  background-size: cover;
}

.header-text {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 5em 3em 0;
}
.header-text h1 {
  padding: 0.2em 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: 0.1em solid #4247CF;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.header-text h2 {
  margin: 2em 0;
  line-height: 1.5em;
}

.special-btn {
  padding-right: 2.5em;
  position: relative;
  overflow: hidden;
}
.special-btn i {
  transition: all 0.2s ease;
  background: white;
  color: #4247CF;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.special-btn:hover i {
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

.link-wrapper {
  padding: 0.5em 0;
  cursor: pointer;
}
.link-wrapper:hover a::after {
  transform: translateY(-3px);
}

a {
  color: black;
  text-decoration: none;
  position: relative;
  cursor: inherit;
  font-family: inherit;
}
a::after {
  content: "";
  transition: all 0.2s ease;
  width: 100%;
  height: 3px;
  background: #4247CF;
  position: absolute;
  bottom: -5px;
  left: 0;
}

button {
  padding: 0.4em 0.8em;
  border: none;
  border-radius: 0.3em;
  text-transform: uppercase;
  font-size: inherit;
  outline: none;
  background: #4247CF;
  color: white;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease;
}

.btn-hover::after {
  content: "";
  background: #fafafa;
  width: 0;
  height: 100%;
}
.btn-hover:hover::after {
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hide {
  display: none;
}

section {
  margin: 5em 0;
  text-align: center;
}
section h2 {
  margin: 3em 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8vw 10vw;
  justify-content: center;
}

.card-category {
  width: 32vw;
  height: 32vw;
  box-shadow: 0 0 0.6em 0.2em rgba(0, 0, 0, 0.1);
}
.card-category .container {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-10%);
}
.card-category .container img {
  height: 65%;
}

.card-horizontal {
  margin: 2em auto;
  width: 55%;
  border-radius: 1em;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
}
.card-horizontal .text-container {
  padding: 1em;
  height: 100%;
}
.card-horizontal .text-container .row {
  margin: 1em;
  color: #4247CF;
}
.card-horizontal img {
  width: 50%;
}

.left {
  transform: translateX(-15vw);
  flex-direction: row-reverse;
}

.right {
  transform: translateX(15vw);
}

footer {
  margin-top: 4em;
  padding-bottom: 3em;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
}
.newsletter p {
  margin: 1em;
  width: 70%;
}

.services {
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}
.services li {
  padding: 2em 1em;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  margin-top: 2em;
}
.footer-links li {
  margin-bottom: 1em;
}
.footer-links li:last-of-type {
  margin: 0;
}

.row-links {
  width: 60%;
  margin-top: 2em;
  align-items: flex-start;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-field {
  border: none;
  border-bottom: 0.1em solid #4247CF;
  padding: 0.5em 1em;
  background: none;
  outline: none;
}

.input-send {
  background: transparent;
  color: #4247CF;
}
.input-send i {
  font-size: 2em;
}

@media (max-width: 800px) {
  body {
    font-size: 0.7em;
  }

  nav ul.row {
    display: none;
  }
  nav .burger {
    display: block;
  }
  nav .links {
    width: auto;
  }

  .header-text {
    width: auto;
    margin: 5em 2em;
    text-align: center;
  }
  .header-text h1 {
    width: auto;
  }

  .card-category {
    width: 37vw;
    height: 45vw;
  }

  .card-horizontal {
    flex-direction: column;
  }
  .card-horizontal img {
    width: 100%;
  }

  .services {
    flex-direction: column;
  }

  .linkContact {
    flex-direction: column;
  }

  .newsletter, .row-links {
    margin: 1em;
    width: 100%;
  }
}
@media (min-width: 2000px) {
  body {
    font-size: 2.5em;
  }
}
@media (min-width: 3000px) {
  body {
    font-size: 3em;
  }
}
@media (min-width: 4000px) {
  body {
    font-size: 4em;
  }
}/*# sourceMappingURL=style.css.map */