@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$main: #4247CF;
$font: 'Poppins', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./scss/header", "./scss/general", "./scss/category", "./scss/products", "./scss/footer";


@media( max-width: 1000px){
    body{
        font-size: 0.7em;
    }
    nav{
        ul.row{
            display: none;
        }
        .burger{
            display: block;
        }
        .links{
            width: auto;
        }
    }
    header{
        padding: 0 2em;
    }
    .header-text{
        width: auto;
        margin: 5em 4em;
        text-align: center;
        h1{
            width: auto;
        }
    }
    .card-category{
        width: 37vw;
        height: 45vw;
    }
    .card-horizontal{
        flex-direction: column;
        img{
            width: 100%;
        }
    }
    .services{
        flex-direction: column;
    }
    .linkContact{
        flex-direction: column;
    }
    .newsletter, .row-links{
        margin: 1em;
        width: 100%;
    }
}
@media( min-width: 1001px){
    body{
        font-size: 1em;
    }
}
@media( min-width: 1500px){
    body{
        font-size: 1.5em;
    }
}
@media( min-width: 2300px){
    body{
        font-size: 2.8em;
    }
}
@media( min-width: 4000px){
    body{
        font-size: 4em;
    }
}


